@model Knjizara.Models.ViewModels.UserDetailsVM

@{
    ViewData["Title"] = "Details";
}

<style>

    #container {
        margin-top: 10vh;
        text-align: center;
    }

    table {
        width: 75vw;
        margin: auto;
    }

    th, td {
        border-bottom: 2px solid var(--brown);
    }

    p { 
        margin: 2rem;
    }

</style>

<div id="container" class="width100vw">

<h1>User Details</h1>

<div>
    <h4>AppUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<h2>Posuđene knjige</h2>
@if (Model.BorrowedBooks?.Count > 0)
{
    <table class="table" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BorrowedBooks[0].Book.Title)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.BorrowedBooks[0].Book.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BorrowedBooks[0].CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BorrowedBooks[0].ReturnOnDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BorrowedBooks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Title)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Author.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnOnDate)
                    </td>
                    <td>
                        <a asp-action="ReturnBook" asp-controller="AppUsers" asp-route-id="@item.Book?.Id" onclick="return confirm('Are you sure you want to return this book?')">return book</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="p-2">Nemate posuđenih knjiga</p>
}
<h2>Kupljene knjige</h2>
@if (Model.PurchasedBooks?.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PurchasedBooks[0].Book.Title)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.PurchasedBooks[0].Book.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PurchasedBooks[0].CreatedAt)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PurchasedBooks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Title)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Author.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="p-2">Nemate kupljenih knjiga</p>
}

</div>