@page
@model Knjizara.Areas.Identity.Pages.Account.UserBookListModel

@{
    ViewData["Title"] = "UserBookList";
}

<h2>Posuđene knjige</h2>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowedBooks[0].Book.Title)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.BorrowedBooks[0].Book.Author)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.BorrowedBooks[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BorrowedBooks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Book.Author.Name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>

        </tr>
}
    </tbody>
</table>

<h2>Kupljene knjige</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchasedBooks[0].Book.Title)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.PurchasedBooks[0].Book.Author)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.PurchasedBooks[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PurchasedBooks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Book.Author.Name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>

        </tr>
}
    </tbody>
</table>
