@model Knjizara.Models.ViewModels.BookBorrowVM

@{
    ViewData["Title"] = "Borrow";
}

<h1>Delete</h1>

<h3>Are you sure you want to borrow this book?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.PriceForBorrowing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.PriceForBorrowing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.PriceForBuying)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.PriceForBuying)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.StockAvailabilty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.StockAvailabilty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.CoverURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.CoverURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.LongDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.LongDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.ShortDescription)
        </dd>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.ShortDescription)
        </dd>
    </dl>
    
    <form asp-action="Borrow">
        <input type="hidden" asp-for="Book.Id" />
       <label for="Weeks">How many weeks do you want to borrow the book:</label>
       <select asp-for="WeeksToBorrow" name="Weeks">
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>
<br />
        <input type="submit" value="Borrow" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
