@model Knjizara.Models.Books.Book

@{
    ViewData["Title"] = "Buy";
}

<h3>Are you sure you want to buy this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForBorrowing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceForBorrowing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForBuying)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceForBuying)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockAvailabilty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockAvailabilty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoverURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoverURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
    </dl>

    <form asp-action="Buy">
        <input type="hidden" asp-for="Id" />
        <div style="text-align: center;">
            <input class="btn btn-success" onclick="location.href='@Url.Action("PaymentWithPaypal", "PayPalPayment", new { id = Model.Id })'" value="Pay with PayPal" />
        </div>
        @*<input type="submit" value="Buy" class="btn btn-success" /> |*@
        <a asp-action="Index">Back to List</a>
    </form>
</div>
