@model IEnumerable<Knjizara.Models.Books.Book>

@{
    ViewData["Title"] = "Index";
}

@*@using (Html.BeginForm())  
{  
    <div id="search">  
        Search: @Html.TextBox("SearchString")  
        <input id="searchBar" type="submit" value="Search..."/>  
    </div>  
}  *@

<head>

    <link rel="stylesheet" href="~/css/global.css"/>
	<link rel="stylesheet" href="~/css/loader.css"/>
	<link rel="stylesheet" href="~/css/book.css"/>
	<link rel="stylesheet" href="~/css/searchBar.css"/>
	

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <style>

        #search {
			width: 50%;
            margin: 15vh auto;
        }

        #bookContainer {
            width: 90vw;
			margin: auto;
            height: auto;
            display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			grid-row-gap: 10rem;
			grid-column-gap: 1rem;
        }

    </style>

</head>

<body>

	<div id="loader">
  
	<div class="bookLoader">

		<div class="inner">
		<div class="left"></div>
		<div class="middle"></div>
		<div class="right"></div>
		</div>

		<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		</ul>

	</div>
    
	<div class="message" id="loaderMessages"></div>

</div>

	<form action="" class="searchBar">

		<input type="search" name="search" autocomplete="off" required>

		<button class="search-btn" type="submit">
			<span>Search</span>
		</button>

	</form>


    <div id="bookContainer">

        <div class='book'>

			<ul class='hardcoverFront'>
				<li>
					<img src="https://images-na.ssl-images-amazon.com/images/I/81gtKoapHFL.jpg" class="bookCoverImg" alt="bookCover">
				</li>
				<li></li>
			</ul>

			<ul class='page'>

				<li></li>				
				<li>
					
					<div class="bookInfo">

						<h1>
							Title
							@*@Html.DisplayFor(modelItem => item.Title)*@
						</h1>

						<h1>
							ISBN
							@*@Html.DisplayFor(modelItem => item.Isbn)*@
						</h1>

						<h1>
							PriceForBorrowing
							@*@Html.DisplayFor(modelItem => item.PriceForBorrowing)*@
						</h1>

						<h1>
							PriceForBuying
							@*@Html.DisplayFor(modelItem => item.PriceForBuying)*@
						</h1>

						<h1>
							StockAvailabilty
							@*@Html.DisplayFor(modelItem => item.StockAvailabilty)*@
						</h1>

						@*<h1>
							<!-- TODO: if empty or invalid show default image -->
							<img src= @item.CoverURL asp-append-version="true" width="100">
						</h1>*@

						<h1>
							LongDescription
							@*@Html.DisplayFor(modelItem => item.LongDescription)*@
						</h1>

						<h1>
							ShortDescription
							@*@Html.DisplayFor(modelItem => item.ShortDescription)*@
						</h1>

					</div>

				</li>
				<li>
					<div class="reverse buyBorrow">
						<a class="btn" href="#">Buy</a>
						<a class="btn" href="#">Borrow</a>
					</div>
				</li>
				<li></li>
			</ul>

			<ul class='hardcoverBack'>
				<li></li>
				<li></li>
			</ul>

			<ul class='book_spine'>
				<li></li>
			</ul>

		</div>

		<div class='book'>

			<ul class='hardcoverFront'>
				<li>
					<img src="https://images-na.ssl-images-amazon.com/images/I/41xShlnTZTL._SX376_BO1,204,203,200_.jpg" class="bookCoverImg" alt="bookCover">
				</li>
				<li></li>
			</ul>

			<ul class='page'>

				<li></li>				
				<li>
					
					<div class="bookInfo">

						<h1>
							Title
							@*@Html.DisplayFor(modelItem => item.Title)*@
						</h1>

						<h1>
							ISBN
							@*@Html.DisplayFor(modelItem => item.Isbn)*@
						</h1>

						<h1>
							PriceForBorrowing
							@*@Html.DisplayFor(modelItem => item.PriceForBorrowing)*@
						</h1>

						<h1>
							PriceForBuying
							@*@Html.DisplayFor(modelItem => item.PriceForBuying)*@
						</h1>

						<h1>
							StockAvailabilty
							@*@Html.DisplayFor(modelItem => item.StockAvailabilty)*@
						</h1>

						@*<h1>
							<!-- TODO: if empty or invalid show default image -->
							<img src= @item.CoverURL asp-append-version="true" width="100">
						</h1>*@

						<h1>
							LongDescription
							@*@Html.DisplayFor(modelItem => item.LongDescription)*@
						</h1>

						<h1>
							ShortDescription
							@*@Html.DisplayFor(modelItem => item.ShortDescription)*@
						</h1>

					</div>

				</li>
				<li>
					<div class="reverse buyBorrow">
						<a class="btn" href="#">Buy</a>
						<a class="btn" href="#">Borrow</a>
					</div>
				</li>
				<li></li>
			</ul>

			<ul class='hardcoverBack'>
				<li></li>
				<li></li>
			</ul>

			<ul class='book_spine'>
				<li></li>
			</ul>

		</div>

		<div class='book'>

			<ul class='hardcoverFront'>
				<li>
					<img src="https://images-na.ssl-images-amazon.com/images/I/81HCIXim7hL.jpg" class="bookCoverImg" alt="bookCover">
				</li>
				<li></li>
			</ul>

			<ul class='page'>

				<li></li>				
				<li>
					
					<div class="bookInfo">

						<h1>
							Title
							@*@Html.DisplayFor(modelItem => item.Title)*@
						</h1>

						<h1>
							ISBN
							@*@Html.DisplayFor(modelItem => item.Isbn)*@
						</h1>

						<h1>
							PriceForBorrowing
							@*@Html.DisplayFor(modelItem => item.PriceForBorrowing)*@
						</h1>

						<h1>
							PriceForBuying
							@*@Html.DisplayFor(modelItem => item.PriceForBuying)*@
						</h1>

						<h1>
							StockAvailabilty
							@*@Html.DisplayFor(modelItem => item.StockAvailabilty)*@
						</h1>

						@*<h1>
							<!-- TODO: if empty or invalid show default image -->
							<img src= @item.CoverURL asp-append-version="true" width="100">
						</h1>*@

						<h1>
							LongDescription
							@*@Html.DisplayFor(modelItem => item.LongDescription)*@
						</h1>

						<h1>
							ShortDescription
							@*@Html.DisplayFor(modelItem => item.ShortDescription)*@
						</h1>

					</div>

				</li>
				<li>
					<div class="reverse buyBorrow">
						<a class="btn" href="#">Buy</a>
						<a class="btn" href="#">Borrow</a>
					</div>
				</li>
				<li></li>
			</ul>

			<ul class='hardcoverBack'>
				<li></li>
				<li></li>
			</ul>

			<ul class='book_spine'>
				<li></li>
			</ul>

		</div>

    </div>

	@*
    @foreach (var item in Model) {

        <div class="book">

            <div class="bookImage">



            </div>

            <div class="bookInfo">

                <h1>
                    @Html.DisplayFor(modelItem => item.Title)
                </h1>
                <h1>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </h1>
                <h1>
                    @Html.DisplayFor(modelItem => item.PriceForBorrowing)
                </h1>
                <h1>
                    @Html.DisplayFor(modelItem => item.PriceForBuying)
                </h1>
                <h1>
                    @Html.DisplayFor(modelItem => item.StockAvailabilty)
                </h1>
                <h1>
                    <!-- TODO: if empty or invalid show default image -->
                    <img src= @item.CoverURL asp-append-version="true" width="100">
                </h1>
                <h1>
                    @Html.DisplayFor(modelItem => item.LongDescription)
                </h1>
                <h1>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </h1>
                <h1>
                 <a asp-action="AuthorDetails" asp-route-id="@item.AuthorId">@item.Author.Name</a> 
                </h1>

                <h1>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                </h1>

            </div>

        </div>
		}*@
    

		<script src=~/js/loader.js></script>

</body>
