@model IEnumerable<Knjizara.Models.Books.Book>

@{
    ViewData["Title"] = "DeletedBooks";
}

<h1>Deleted Books</h1>

@using (Html.BeginForm())
{
    <p>
        Search: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<p>
    <a asp-action="Index">Back to Books</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceForBorrowing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceForBuying)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockAvailabilty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceForBorrowing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceForBuying)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockAvailabilty)
                </td>
                <td>
                    <!-- TODO: if empty or invalid show default image -->
                    <img src=@item.CoverURL asp-append-version="true" width="100">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LongDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
            </tr>
        }
    </tbody>
</table>
