@model Knjizara.Models.Books.Book

@{
    ViewData["Title"] = "Details";
}
<style>

	#headline {
		text-align: center;
		margin: 5rem;
	}

	#editing {
		margin: 3rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	#editing a {
		margin: 1rem 2rem;
		text-align: center;
	}

</style>

<link rel="stylesheet" href="~/css/book.css"/>

<h1 id="headline">Details</h1>

<div class='book'>

	<ul class='hardcoverFront'>
		<li>
            <img src=@Model.CoverURL asp-append-version="true" class="bookCoverImg" alt="bookCover">
		</li>
		<li></li>
	</ul>

	<ul class='page'>

		<li></li>				
		<li>
					
			<div class="bookInfo">

				<h1>
					Title: @Html.DisplayFor(item => item.Title)
				</h1>

                <h1>
                    Author: @Html.DisplayFor(item => item.Author)
                </h1>

				<h1>
					ISBN: @Html.DisplayFor(item => item.Isbn)
				</h1>

				<h1>
					PriceForBorrowing: @Html.DisplayFor(item => item.PriceForBorrowing)
				</h1> 

				<h1>
					PriceForBuying: @Html.DisplayFor(item => item.PriceForBuying)
				</h1>

				<h1>
					StockAvailabilty: @Html.DisplayFor(item => item.StockAvailabilty)
				</h1>

			</div>

		</li>
		<li>
		</li>
		<li></li>
	</ul>

	<ul class='hardcoverBack'>
		<li></li>
		<li></li>
	</ul>

	<ul class='book_spine'>
		<li></li>
	</ul>

</div>

<div id="editing">
    <a  asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
		    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a> |

    <a asp-action="Index">Back to List</a>
</div>