@model IEnumerable<Knjizara.Models.Books.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.Author.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceForBorrowing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceForBuying)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockAvailabilty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
                        <td>
            @Html.ActionLink(item.Author.Name, "Details", "Authors", new {id = item?.AuthorId}, null)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PriceForBorrowing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceForBuying)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockAvailabilty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
