@model IEnumerable<Knjizara.Models.Books.Book>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/global.css"/>
<link rel="stylesheet" href="~/css/book.css"/>

<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<style>

    #container {
        margin-top: 10vh;
    }

    #headline {
        text-align: center;
        font-size: 2rem;
		margin: 2rem;
    }

	#searchDiv {
		width: 20vw;
		margin: auto;
		text-align: center;
	}

	#bookSearch {
		padding: 0.1rem 0.3rem;
		margin: 0.8rem;
	}

    #bookContainer {
        height: auto;
		margin-top: 10vh;
        display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-row-gap: 10rem;
		grid-column-gap: 1rem;
    }

	#editing a {
		margin: 1rem auto;
		margin-left: 46%;
		text-align: center;
	}

</style>

<div id="container">

    <h1 id="headline">
        Shop for your favourite books!
    </h1>

    
    @using (Html.BeginForm())  
    {  
        <div id="searchDiv">  
            Search: @Html.TextBox("SearchString")  
            <input id="bookSearch" type="submit" value="Search" />  
        </div>  

    }  

</div>

<p id="editing">
    <a asp-action="Create">Create New</a> <br />
    <a asp-action="DeletedBooks">Deleted Books</a>
</p>

<div id="bookContainer" class="width100vw">

    @foreach (var item in Model) {
       <div class='book'>

				<ul class='hardcoverFront'>
					<li>
                        <img src= @item.CoverURL asp-append-version="true" class="bookCoverImg" alt="bookCover">
					</li>
					<li></li>
				</ul>

				<ul class='page'>

					<li></li>				
					<li>
					
						<div class="bookInfo">

							<h1>
								Title: @Html.DisplayFor(modelItem => item.Title)
							</h1>

                            <h1>
                                Author: <a asp-action="AuthorDetails" asp-route-id="@item.AuthorId">@item.Author.Name</a> 
                            </h1>

							<h1>
								ISBN: @Html.DisplayFor(modelItem => item.Isbn)
							</h1>

							<h1>
								PriceForBorrowing: @Html.DisplayFor(modelItem => item.PriceForBorrowing)
							</h1> 

							<h1>
								PriceForBuying: @Html.DisplayFor(modelItem => item.PriceForBuying)
							</h1>

							<h1>
								StockAvailabilty: @Html.DisplayFor(modelItem => item.StockAvailabilty)
							</h1>

						</div>

					</li>
					<li>
						<div class="reverse buyBorrow">
                            <a class="btn" asp-action="Details" asp-route-id="@item.Id">Details</a> 
						</div>
					</li>
					<li></li>
				</ul>

				<ul class='hardcoverBack'>
					<li></li>
					<li></li>
				</ul>

				<ul class='book_spine'>
					<li></li>
				</ul>

       </div>
}
</div>